<div id="about" class="modal hide fade" tabindex="-1" data-width="760">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>About J.A.R.V.I.S.</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <h4>
          Jarvis is a new age news/imformation aggregator for users. Just tell us your favourite news/blogs/websites, jarvis will go out and collect the latest stuff going on from the sites and serve them to you, it also lets you to save the content for future reading. Well you may think there are products which are already available, Yes there are. But jarvis provides some surprise user experience features on the client side, which makes it the best.
        </h4>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="redbut">Save</button>
  </div>
</div>