<div id="loadmore" class="modal hide fade" tabindex="-1" data-width="500">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>More Info</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <div class="loadinggif">
        </div>
        <div id="info">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="redbut">Close</button>
  </div>
</div>