<p style="bottom:1px; position:absolute; left:33%; font-size:12px; ">© 2015 Developed by <a href="http://rajeev-reddy.com" target="none">Rajeev Reddy</a> | Base design template by <a href="http://twitter.com/dzyngiri">Dzyngiri</a></p>    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
<script src="http://jschr.github.io/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="http://jschr.github.io/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="http://tristanedwards.me/u/SweetAlert/lib/sweet-alert.js"></script>