<div style="width:100%; display:inline-block;">
  <span style="font-family: 'AmaticSCBold', Verdana, Geneva, sans-serif;  font-size: 25px;  font-weight: 900; margin-top: 34px; float: left; margin-left:15px; "> Select from one of the categories <i class="fa fa-hand-o-right" style="color:grey;"></i></span>
  <ul class="nav navbar-nav" style="margin-bottom:5px; margin-right:15px; float: right;">
    <!-- <li><input type="text" class="inputbox" placeholder="you@yourmail.com" /></li> -->
      <li class="dropdown" style="float:left; margin: 20px 5px 0px 5px;">
        <button class="redbut dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><i class="fa fa-terminal" style="margin-right: 5px;"></i> Tech <span class="fa fa-caret-down" style="margin-left:10px;"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="source" data-code="mashable" style="cursor:pointer;">Mashable</a></li>
          <li><a id="source" data-code="tc" style="cursor:pointer;">TechCrunch</a></li>
          <li><a id="source" data-code="hn"style="cursor:pointer;">HackerNews</a></li>
        </ul>
      </li>
      <li class="dropdown" style="float:left; margin: 20px 5px 0px 5px;">
        <button class="redbut dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><i class="fa fa-newspaper-o" style="margin-right: 5px;"></i> News <span class="fa fa-caret-down" style="margin-left:10px;"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="source" data-code="gn" style="cursor:pointer;">Google News</a></li>
          <li><a id="source" data-code="bbc" style="cursor:pointer;">BBC</a></li>
          <li><a id="source" data-code="nyt" style="cursor:pointer;">NY Times</a></li>
        </ul>
      </li>
      <li class="dropdown" style="float:left; margin: 20px 5px 0px 5px;">
        <button id="source" data-code="gnsports" class="redbut"><i class="fa fa-futbol-o" style="margin-right: 5px;"></i> Sports </button>
      </li>
      <li class="dropdown" style="float:left; margin: 20px 5px 0px 5px;">
        <button id="source" data-code="mw" class="redbut"><i class="fa fa-line-chart" style="margin-right: 5px;"></i> Markets </button>
      </li>
      <li class="dropdown" style="float:left; margin: 20px 5px 0px 5px;">
        <button class="redbut dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ><i class="fa fa-globe" style="margin-right: 5px;"></i> Misc <span class="fa fa-caret-down" style="margin-left:10px;"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="source" data-code="reddit" style="cursor:pointer;">Reddit</a></li>
        </ul>
      </li>
  </ul>
</div>