<div class="header" style=" font-family: 'AmaticSCBold', Verdana, Geneva, sans-serif;  font-size: 35px;  font-weight: normal;  word-spacing: 5px; letter-spacing: 0px;  line-height: 35px;  height: 30px; color: #404040;">
  <span style="">{j.4.R.\/.1.5.} </span>
  <span style=" position:absolute; font-size: 20px; float: right; display: inline-block; text-align: justify; right: 160px;">
    <ul class="nav navbar-nav navbar-right">                                  
      <li style="float:left; margin-right:20px;">
        <button class="redbut" id="start">Go Hands Free</button>
      </li>
      <li class="dropdown" style="float:left;">
        <button class="redbut dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> <%= fname %> <span class="fa fa-caret-down" style="margin-left:10px;"></span></button>
        <ul class="dropdown-menu" role="menu">
          <!-- <li><a href="#">Settings <i class="fa fa-cog" style="float:right;"></i></a></li> -->
          <li><a id="savednews" style="cursor:pointer;">Saved News <i class="fa fa-floppy-o" style="float:right;"></i></a></li>
          <li class="divider"></li>
          <li><a href="/logout">Log Out <i class="fa fa-sign-out" style="float:right;"></i></a></li>
        </ul>
      </li>
    </ul>
  </span>
</div>